---
import { /* fade, */ ViewTransitions } from 'astro:transitions';
import { Header, Footer } from '$lib/astro';

import pkg from 'package.json';
const { version } = pkg;

import '@/styles/global.css';

interface Props {
  status?: string;
  message: string;
}
const { status = 'Unknown', message } = Astro.props;

// transition:animate={fade({ duration: '0.3s' })}
---

<!doctype html>
<html
  lang='ru'
  class='theme-dark'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='robots'
      content='no-index, follow'
    />
    <title>{status} ({message})</title>
    <link
      rel='alternate icon'
      href=`/favicon.ico?v=${version}`
      sizes='any'
    />
    <link
      rel='apple-touch-icon'
      href=`/favicon/192.png?v=${version}`
    />
    <link
      rel='icon'
      href=`/favicon/icon.svg?v=${version}`
      type='image/svg+xml'
    />
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <main class='content grow items-center'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
